body {
    color: #414141;
    background-color: #EEEEEE;
}

.page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    /*background-color: rgba(199, 196, 196, 0.884);*/
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    width: 200px;
    align-items: center;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: upper-roman;
}

em {
    background-color: blue;
    display: inline;
}

.about-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 400px;
}

.characteristics-container {
    background-color: rgb(156, 197, 173);  
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.favorite-places-container {
    background-color: rgb(212, 170, 157);  
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

.favorite-creatures-container {
    background-color: rgb(168, 226, 223);  
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .about-container{
        order: -1;
    }
    .image {
        width: 80%;
        display: flex;
        justify-content: center;
        padding-left: 25px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .favorite-places-container,
    .favorite-creatures-container,
    .characteristics-container {
      width: 50%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .characteristics-container,
    .favorite-places-container,
    .favorite-creatures-container {
      width: 33.3%;
      height: 400px;
    }
  }